{% extends "base.html" %} {% block title %}Admin{% endblock title %} {% block
login %}

<div id="carousel" class="carousel slide mx-auto">
  <div class="carousel-inner box">
  <div class="carousel-item active ">
<form method="POST">
  <h3 align="center">Admin login</h3>
  <div class="form-group">
   <div class="from-values">
   <label for="email"> Email Address <i class="fas fa-user"></i> </label>
   <div class="inputs">
    <input
      type="text"
      name="log-email"
      id="log-email"
      class="form-control"
      placeholder="Enter Admin Eamil"
    /> </div></div>
    
    <div class="from-values">
    <label for="password">  Password Address </label>
     <div class="inputs">
    <input
      type="password"
      name="log-password"
      id="log-password"
      class="form-control"
      placeholder="Enter password"
    /></div></div>

    <div class="from-values">
    <label for="password"> Admin Password </label>
     <div class="inputs">
    <input
      type="password"
      name="log-ad-password"
      id="log-ad-password"
      class="form-control"
      placeholder="Enter Admin password"
    /></div></div>

    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary" >Login</button>
    </div>
    
  </div>
</form>
   
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>

<div class="carousel-item">



<form method="POST"  enctype="multipart/form-data">
   <h3 align="center">Admin Sign Up</h3>
  <div class="form-group">
  <div  align="center" class="profile_icon"  hight="30px">
      <i class="fas fa-user-plus">
        <input
          type="file"
          name="image"
          id="profile_picture"
          accept="image/*"
          class="form-control-file d-none "
          onchange="displayFileName(this)" /></i
      >
      <label for="profile_picture"> profile </span></label>
      <br />
    </div>

   <div class="from-values">
   <label for="username"> AdminID <i class="fas fa-user"></i> </label>
   <div class="inputs">
    <input
      type="text"
      name="sign-username"
      id="sign-username"
      class="form-control"
      placeholder="Enter Username"
    /></div></div>

    <div class="from-values">
    <label for="email"> Email Address</label>
    <div class="inputs">
    <input
      type="text"
      name="sign-email"
      id="sign-email"
      class="form-control"
      placeholder="Enter Email"
    /></div></div>

    <div class="from-values">
     <label for="password">  Password Address </label>
     <div class="inputs">
    <input
      type="password"
      name="sign-password"
      id="sign-password"
      class="form-control"
      placeholder="Enter password"
    /></div></div>

    <div class="from-values">
    <label for="password"> Admin Password</label>
    <div class="inputs">
    <input
      type="password"
      name="sign-ad-password"
      id="sign-ad-password"
      class="form-control"
      placeholder="Enter password"
    /></div></div>

    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary" >Signup</button>
    </div>

   

  
</div>
  
</form>
   <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  
  </div>


  
  </div>

</div>
{% endblock login %}
